{% load static %}
<header class="relative
    {% if not '/' == request.get_full_path %}
    pb-24 bg-flamingo-800 sm:pb-32
    {% else %}
    bg-white sm:border-b-2 sm:border-gray-200/75
    {% endif %}
    ">
    {% if not '/' == request.get_full_path %}
    <div class="absolute inset-0">
        <img class="w-full h-full object-cover" src="https://source.unsplash.com/random/1280×600/?camera-equipment"
            alt="">
        <div class="absolute inset-0 bg-flamingo-800 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    {% endif %}

    <div class="relative" x-data="Components.popover({ open: false, focus: true })" x-init="init()"
        @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="{% url 'home:home' %}">
                        <span class="sr-only">디닷에프</span>
                        <svg class="h-8 w-auto sm:h-10" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                            viewBox="0 0 165.3 100" style="enable-background:new 0 0 165.3 100;" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: #A39890;
                                }
                                .st1 {
                                    fill: #F15922;
                                }
                            </style>
                            <path class="st0"
                                d="M49.1,98l-1.3-7.5c-4.4,5.9-11.1,9.5-19.5,9.5C13,100,0,92.5,0,68V57.5c0-24.5,13-32,28.3-32  c6.4,0,11.6,2.1,15.7,5.5V11.6C44,3.9,49.6,0,55.8,0s11.7,3.9,11.7,11.6V98H49.1z M23.9,69.6c0,7.9,5.9,10.6,10,10.6  c3.9,0,9.7-2.6,10.1-10V55.3c-0.3-7.4-6.1-10-10.1-10c-4.1,0-10,2.7-10,10.6V69.6z" />
                            <path class="st1"
                                d="M94.7,63c12.2,0,19.5,7.3,19.5,18.4s-7.3,18.4-19.5,18.4s-19.5-7.1-19.5-18.4S82.5,63,94.7,63z" />
                            <path class="st0"
                                d="M121.9,98V47h-3.9c-7.3,0-10.2-4.5-10.2-9.5c0-4.9,2.8-9.7,10.2-9.7h3.9v-2.6c0-18.7,9-25.2,25.8-25.2  c4.5,0,9.6,0.9,13.3,3.2c3.9,2.4,5,6.4,3.9,10.8c-1,3.5-4.1,6.6-7.9,6.6c-1.9,0-2.8-0.2-4.8-0.6c-1.4-0.2-2.2-0.3-3.2-0.3  c-2.3,0-3.5,1.2-3.5,4.8v3.2h6.6c7.4,0,10.2,4.9,10.2,9.7c0,5-2.9,9.5-10.2,9.5h-6.6v51H121.9z" />
                        </svg>
                    </a>
                </div>
                <div class="-mr-2 -my-2 md:hidden">
                    <button type="button"
                        class="rounded-md p-2 inline-flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-inset focus:ring-flamingo-500 text-gray-400 hover:bg-opacity-100
                            {% if not '/' == request.get_full_path %}
                            hover:text-gray-300
                            {% else %}
                            hover:text-gray-500
                            {% endif %}"
                        @click="toggle" @mousedown="if (open) $event.preventDefault()" aria-expanded="false"
                        :aria-expanded="open.toString()">
                        <span class="sr-only">메뉴 열기</span>
                        <svg class="h-6 w-6" x-description="Heroicon name: outline/menu"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
                <nav class="hidden md:flex space-x-10" x-data="Components.popoverGroup()" x-init="init()">
                    <div class="relative" x-data="Components.popover({ open: false, focus: false })" x-init="init()"
                        @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
                        <button type="button" x-state:on="Item active" x-state:off="Item inactive" class="group rounded-md inline-flex items-center text-base font-medium
                                {% if not '/' == request.get_full_path %}
                                text-white hover:text-flamingo-200
                                {% else %}
                                text-gray-500 hover:text-gray-900
                                {% endif %}
                                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-flamingo-500" :class="{
                                {% if not '/' == request.get_full_path %}
                                'text-flamingo-200': open, 'text-white': !(open)
                                {% else %}
                                'text-gray-900': open, 'text-gray-500': !(open)
                                {% endif %}
                                }" @click="toggle" @mousedown="if (open) $event.preventDefault()" aria-expanded="false"
                            :aria-expanded="open.toString()">
                            <span>시설이용</span>
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-200"
                            x-transition:enter-start="opacity-0 translate-y-1"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-in duration-150"
                            x-transition:leave-start="opacity-100 translate-y-0"
                            x-transition:leave-end="opacity-0 translate-y-1"
                            x-description="'시설이용' flyout menu, show/hide based on flyout menu state."
                            class="absolute z-20 -ml-4 mt-3 transform px-2 w-96 max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
                            x-ref="panel" @click.away="open = false" style="display: none;">
                            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    <a href="{% url 'facility:equipment' %}"
                                        class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            x-description="Heroicon name: outline/camera"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                기자재
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                카메라, 조명기, 녹음기 등 기자재 대여
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            x-description="Heroicon name: outline/desktop-computer"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                실습 공간
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                실습 공간 이용 또는 촬영 목적 대관
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                보관 공간
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                기재보관실, 소품보관함, 사물함 대여
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            x-description="Heroicon name: outline/cube"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                용품
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                학생회 용품 대여
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relative" x-data="Components.popover({ open: false, focus: false })" x-init="init()"
                        @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
                        <button type="button" x-state:on="Item active" x-state:off="Item inactive" class="group rounded-md inline-flex items-center text-base font-medium
                            {% if not '/' == request.get_full_path %}
                            text-white hover:text-flamingo-200
                            {% else %}
                            text-gray-500 hover:text-gray-900
                            {% endif %}
                            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-flamingo-500" :class="{
                            {% if not '/' == request.get_full_path %}
                            'text-flamingo-200': open, 'text-white': !(open)
                            {% else %}
                            'text-gray-900': open, 'text-gray-500': !(open)
                            {% endif %}
                            }" @click="toggle" @mousedown="if (open) $event.preventDefault()" aria-expanded="false"
                            :aria-expanded="open.toString()">
                            <span>전자문서</span>
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-200"
                            x-transition:enter-start="opacity-0 translate-y-1"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-in duration-150"
                            x-transition:leave-start="opacity-100 translate-y-0"
                            x-transition:leave-end="opacity-0 translate-y-1"
                            x-description="'전자문서' flyout menu, show/hide based on flyout menu state."
                            class="absolute z-20 -ml-4 mt-3 transform px-2 w-96 max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
                            x-ref="panel" @click.away="open = false" style="display: none;">
                            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                제출 / 발급
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                각종 문서 제출 및 발급
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                진위 확인
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                문서확인번호를 통한 발급문서 진위 여부 확인
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relative" x-data="Components.popover({ open: false, focus: false })" x-init="init()"
                        @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
                        <button type="button" x-state:on="Item active" x-state:off="Item inactive" class="group rounded-md inline-flex items-center text-base font-medium
                            {% if not '/' == request.get_full_path %}
                            text-white hover:text-flamingo-200
                            {% else %}
                            text-gray-500 hover:text-gray-900
                            {% endif %}
                            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-flamingo-500" :class="{
                            {% if not '/' == request.get_full_path %}
                            'text-flamingo-200': open, 'text-white': !(open)
                            {% else %}
                            'text-gray-900': open, 'text-gray-500': !(open)
                            {% endif %}
                            }" @click="toggle" @mousedown="if (open) $event.preventDefault()" aria-expanded="false"
                            :aria-expanded="open.toString()">
                            <span>편의기능</span>
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-200"
                            x-transition:enter-start="opacity-0 translate-y-1"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-in duration-150"
                            x-transition:leave-start="opacity-100 translate-y-0"
                            x-transition:leave-end="opacity-0 translate-y-1"
                            x-description="'편의기능' flyout menu, show/hide based on flyout menu state."
                            class="absolute z-20 -ml-4 mt-3 transform px-2 w-96 max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
                            x-ref="panel" @click.away="open = false" style="display: none;">
                            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                URL 단축
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                디닷에프 도메인이 적용된 짧은 URL
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                일기예보
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                한눈에 보는 예상 날씨 및 일출일몰 시각
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relative" x-data="Components.popover({ open: false, focus: false })" x-init="init()"
                        @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
                        <button type="button" x-state:on="Item active" x-state:off="Item inactive" class="group rounded-md inline-flex items-center text-base font-medium
                            {% if not '/' == request.get_full_path %}
                            text-white hover:text-flamingo-200
                            {% else %}
                            text-gray-500 hover:text-gray-900
                            {% endif %}
                            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-flamingo-500" :class="{
                            {% if not '/' == request.get_full_path %}
                            'text-flamingo-200': open, 'text-white': !(open)
                            {% else %}
                            'text-gray-900': open, 'text-gray-500': !(open)
                            {% endif %}
                            }" @click="toggle" @mousedown="if (open) $event.preventDefault()" aria-expanded="false"
                            :aria-expanded="open.toString()">
                            <span>공지사항</span>
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-200"
                            x-transition:enter-start="opacity-0 translate-y-1"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-in duration-150"
                            x-transition:leave-start="opacity-100 translate-y-0"
                            x-transition:leave-end="opacity-0 translate-y-1"
                            x-description="'공지사항' flyout menu, show/hide based on flyout menu state."
                            class="absolute z-20 left-1/2 transform -translate-x-1/2 mt-3 px-2 w-96 max-w-md sm:px-0"
                            x-ref="panel" @click.away="open = false" style="display: none;">
                            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                알림
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                카카오톡 알림톡 공지사항
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                                        <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" stroke-width="2" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                                        </svg>
                                        <div class="ml-4">
                                            <p class="text-base font-medium text-gray-900">
                                                규정
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500">
                                                시설이용에 관한 규정
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="px-5 py-5 bg-gray-50 sm:px-8 sm:py-8 text-sm">
                                    <div>
                                        <p class="tracking-wide font-medium text-gray-500">
                                            학과사무실 공지사항은 학과 웹사이트에서 확인하세요.
                                        </p>
                                    </div>
                                    <div class="mt-5">
                                        <a href="https://movie.dongguk.edu/bbs/board.php?bo_table=movie1_3_1"
                                            target="_blank"
                                            class="font-medium text-flamingo-600 hover:text-flamingo-500">학과
                                            웹사이트 열기 <span aria-hidden="true">→</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                    <a href="#" class="whitespace-nowrap text-base font-medium
                        {% if not '/' == request.get_full_path %}
                        text-white hover:text-flamingo-200
                        {% else %}
                        text-gray-500 hover:text-gray-900
                        {% endif %}
                        ">
                        회원가입
                    </a>
                    <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white
                        {% if not '/' == request.get_full_path %}
                        bg-white bg-opacity-10 hover:bg-opacity-20
                        {% else %}
                        bg-flamingo-600 hover:bg-flamingo-700
                        {% endif %}
                        ">
                        로그인
                    </a>
                </div>
            </div>
        </div>
        <div x-show="open" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in"
            x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95"
            x-description="Mobile menu, show/hide based on mobile menu state."
            class="absolute z-20 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" x-ref="panel"
            @click.away="open = false" style="display: none;">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
                <div class="pt-5 pb-6 px-5">
                    <div class="flex items-center justify-between">
                        <div>
                            <span class="sr-only">디닷에프</span>
                            <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                                viewBox="0 0 165.3 100" style="enable-background:new 0 0 165.3 100;"
                                xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #A39890;
                                    }

                                    .st1 {
                                        fill: #F15922;
                                    }
                                </style>
                                <path class="st0"
                                    d="M49.1,98l-1.3-7.5c-4.4,5.9-11.1,9.5-19.5,9.5C13,100,0,92.5,0,68V57.5c0-24.5,13-32,28.3-32  c6.4,0,11.6,2.1,15.7,5.5V11.6C44,3.9,49.6,0,55.8,0s11.7,3.9,11.7,11.6V98H49.1z M23.9,69.6c0,7.9,5.9,10.6,10,10.6  c3.9,0,9.7-2.6,10.1-10V55.3c-0.3-7.4-6.1-10-10.1-10c-4.1,0-10,2.7-10,10.6V69.6z" />
                                <path class="st1"
                                    d="M94.7,63c12.2,0,19.5,7.3,19.5,18.4s-7.3,18.4-19.5,18.4s-19.5-7.1-19.5-18.4S82.5,63,94.7,63z" />
                                <path class="st0"
                                    d="M121.9,98V47h-3.9c-7.3,0-10.2-4.5-10.2-9.5c0-4.9,2.8-9.7,10.2-9.7h3.9v-2.6c0-18.7,9-25.2,25.8-25.2  c4.5,0,9.6,0.9,13.3,3.2c3.9,2.4,5,6.4,3.9,10.8c-1,3.5-4.1,6.6-7.9,6.6c-1.9,0-2.8-0.2-4.8-0.6c-1.4-0.2-2.2-0.3-3.2-0.3  c-2.3,0-3.5,1.2-3.5,4.8v3.2h6.6c7.4,0,10.2,4.9,10.2,9.7c0,5-2.9,9.5-10.2,9.5h-6.6v51H121.9z" />
                            </svg>
                        </div>
                        <div class="-mr-2">
                            <button type="button"
                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-flamingo-500"
                                @click="toggle">
                                <span class="sr-only">메뉴 닫기</span>
                                <svg class="h-6 w-6" x-description="Heroicon name: outline/x"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="mt-6">
                        <nav class="grid gap-y-8">
                            <a href="{% url 'facility:equipment' %}"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                    x-description="Heroicon name: outline/camera" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                                <span class="ml-3 text-base font-medium text-gray-900">
                                    기자재
                                </span>
                            </a>
                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                    x-description="Heroicon name: outline/desktop-computer"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                                <span class="ml-3 text-base font-medium text-gray-900">
                                    실습 공간
                                </span>
                            </a>
                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                </svg>
                                <span class="ml-3 text-base font-medium text-gray-900">
                                    보관 공간
                                </span>
                            </a>
                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-flamingo-600"
                                    x-description="Heroicon name: outline/cube" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                                </svg>
                                <span class="ml-3 text-base font-medium text-gray-900">
                                    용품
                                </span>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="py-6 px-5 space-y-6">
                    <div class="text-sm tracking-wide font-medium text-gray-500">
                        전자문서
                    </div>
                    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
                            제출 / 발급
                        </a>

                        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
                            진위 확인
                        </a>
                    </div>
                    <div class="text-sm tracking-wide font-medium text-gray-500">
                        편의기능
                    </div>
                    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
                            URL 단축
                        </a>

                        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
                            일기예보
                        </a>
                    </div>
                    <div class="text-sm tracking-wide font-medium text-gray-500">
                        공지사항
                    </div>
                    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
                            알림
                        </a>

                        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
                            규정
                        </a>
                    </div>
                    <div>
                        <a href="#"
                            class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-flamingo-600 hover:bg-flamingo-700">
                            로그인
                        </a>
                        <p class="mt-6 text-center text-base font-medium text-gray-500">
                            아직 회원이 아니신가요?
                            <a href="#" class="text-flamingo-600 hover:text-flamingo-500">
                                회원가입
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not '/' == request.get_full_path %}
    <div class="relative mt-16 max-w-7xl mx-auto px-4 sm:mt-24 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">기자재</h1>
        <p class="mt-6 text-xl text-flamingo-200 max-w-3xl">카메라, 조명기, 녹음기 등 기자재 대여</p>
    </div>
    {% endif %}
</header>

<script src="{% static 'header.js' %}"></script>