{% extends "base.html" %}
{% load static socialaccount %}

{% block body %}
<div class="absolute inset-0">
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <svg class="mx-auto h-12 w-auto" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 165.3 100"
                style="enable-background:new 0 0 165.3 100;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill: #A39890;
                    }

                    .st1 {
                        fill: #F15922;
                    }
                </style>
                <path class="st0"
                    d="M49.1,98l-1.3-7.5c-4.4,5.9-11.1,9.5-19.5,9.5C13,100,0,92.5,0,68V57.5c0-24.5,13-32,28.3-32  c6.4,0,11.6,2.1,15.7,5.5V11.6C44,3.9,49.6,0,55.8,0s11.7,3.9,11.7,11.6V98H49.1z M23.9,69.6c0,7.9,5.9,10.6,10,10.6  c3.9,0,9.7-2.6,10.1-10V55.3c-0.3-7.4-6.1-10-10.1-10c-4.1,0-10,2.7-10,10.6V69.6z" />
                <path class="st1"
                    d="M94.7,63c12.2,0,19.5,7.3,19.5,18.4s-7.3,18.4-19.5,18.4s-19.5-7.1-19.5-18.4S82.5,63,94.7,63z" />
                <path class="st0"
                    d="M121.9,98V47h-3.9c-7.3,0-10.2-4.5-10.2-9.5c0-4.9,2.8-9.7,10.2-9.7h3.9v-2.6c0-18.7,9-25.2,25.8-25.2  c4.5,0,9.6,0.9,13.3,3.2c3.9,2.4,5,6.4,3.9,10.8c-1,3.5-4.1,6.6-7.9,6.6c-1.9,0-2.8-0.2-4.8-0.6c-1.4-0.2-2.2-0.3-3.2-0.3  c-2.3,0-3.5,1.2-3.5,4.8v3.2h6.6c7.4,0,10.2,4.9,10.2,9.7c0,5-2.9,9.5-10.2,9.5h-6.6v51H121.9z" />
            </svg>
            <h2 class="mt-6 text-center text-2xl sm:text-3xl font-extrabold text-gray-900">회원가입이 필요해요!
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                디닷에프 이용을 위해 개인정보를 제공해주세요.
            </p>
        </div>
        <div class="mt-8 px-4 sm:px-0 mx-auto w-full max-w-lg">
            <div class="mb-6 rounded-md bg-flamingo-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-flamingo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-medium text-flamingo-800">개인정보 수집 및 이용 동의</h3>
                        <div class="mt-2 text-sm text-flamingo-700 space-y-2">
                            <p><span class="font-semibold">디닷에프</span>는 아래의 목적으로 개인정보를 수집 및 이용하며 회원의 개인정보를 안전하게 취급하는 데
                                최선을 다하고 있습니다.</p>
                            <ul role="list" class="list-disc pl-5 space-y-2">
                                <li><span class="font-semibold">이용 목적</span>: 회원 본인확인 및 개인식별, 서비스 이용의사 확인, 서비스 진행, 고지사항
                                    전달, 회원과의 원활한 의사소통, 서비스 이용내역 확인, 동국대학교 예술대학 영화영상학과, 영상대학원 영화영상제작학과, 일반대학원 영화영상학과
                                    재학생·휴학생 외 가입 제한</li>
                                <li><span class="font-semibold">수집 항목</span>: 이메일 주소, 프로필 사진, 학번, 성명, 휴대전화 번호</li>
                                <li><span class="font-semibold">보유 기간</span>: 회원탈퇴 시까지 보유하나 30일 간 로그인 이력 부재 시 자동 파기
                                </li>
                            </ul>
                            <p>위 개인정보 수집 및 이용에 대한 동의를 거부할 수 있으며 동의 거부 시 서비스 이용이 제한될 수 있습니다.</p>
                            <div class="relative pt-3 flex items-start place-content-end">
                                <div class="mr-3 text-sm">
                                    <label for="agree" class="font-medium text-gray-600">개인정보 수집 및 이용에 동의합니다.</label>
                                </div>
                                <div class="flex items-center h-5">
                                    <input id="agree" name="agree" type="checkbox"
                                        class="focus:ring-offset-flamingo-50 focus:ring-flamingo-500 h-4 w-4 text-flamingo-600 border-gray-300 rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white py-8 px-4 shadow rounded-lg sm:px-10">
                <div class="space-y-5">
                    <div>
                        <label for="id_email" class="block text-sm font-medium text-gray-700">이메일 주소</label>
                        <div class="mt-1 relative rounded-md shadow-sm">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </div>
                            {{ form.email }}
                        </div>
                        <p class="mt-2 text-sm text-gray-500" id="email-description">이메일 주소는 수정할 수 없어요!</p>
                    </div>
                    <div>
                        <label for="id_student_id" class="block text-sm font-medium text-gray-700">학번</label>
                        <div class="mt-1 relative rounded-md shadow-sm">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                                </svg>
                            </div>
                            <input type="text" name="student_id"
                                class="focus:ring-flamingo-500 focus:border-flamingo-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md"
                                placeholder="{% now 'Y' %}113000" minlength="10" maxlength="10" required
                                id="id_student_id" onkeypress="onlyNumber(event)">
                        </div>
                    </div>
                    <div>
                        <fieldset>
                            <legend class="block text-sm font-medium text-gray-700">성명</legend>
                            <div class="mt-1 rounded-md shadow-sm">
                                <div class="flex -space-x-px">
                                    <div class="w-1/2 flex-1 min-w-0">
                                        <label for="id_last_name" class="sr-only">성</label>
                                        {{ form.last_name }}
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <label for="id_first_name" class="sr-only">명</label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        <label for="id_phone" class="block text-sm font-medium text-gray-700">휴대전화 번호</label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                            <div class="relative flex items-stretch flex-grow focus-within:z-10">
                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                    <svg class="h-5 w-5 text-gray-400" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
                                    </svg>
                                </div>
                                {{ form.phone }}
                            </div>
                            <button type="button"
                                class="-ml-px relative px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-flamingo-500 focus:border-flamingo-500">
                                <span class="break-keep">인증번호&nbsp;받기</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <label for="id_vcode" class="block text-sm font-medium text-gray-700">인증번호</label>
                        <div class="mt-1 relative rounded-md shadow-sm">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" viewBox="0 0 16 16" fill="currentColor"
                                    aria-hidden="true">
                                    <path
                                        d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z" />
                                </svg>
                            </div>
                            <input type="text" name="vcode"
                                class="focus:ring-flamingo-500 focus:border-flamingo-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md"
                                placeholder="000000" minlength="6" maxlength="6" required id="id_vcode"
                                onkeypress="onlyNumber(event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'validation.js' %}"></script>
{% endblock %}